html { 
  direction: rtl; 
  font-family: "Assistant", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Arial, sans-serif; 
}

body {
  margin: 0;
  font-family: "Assistant", Arial, sans-serif;
  background-color: white;
  direction: rtl;
}

* {
  box-sizing: border-box;
}