services:

  backend:
    container_name: prosaas-backend
    build:
      context: .
      dockerfile: Dockerfile.backend
    restart: unless-stopped
    env_file:
      - .env
    environment:
      DATABASE_URL: "${DATABASE_URL}"
    depends_on:
      - db
    ports:
      - "5000:5000"

  frontend:
    container_name: prosaas-frontend
    build:
      context: .
      dockerfile: Dockerfile.frontend
    restart: unless-stopped
    depends_on:
      - backend
    ports:
      - "80:80"

  baileys:
    container_name: prosaas-baileys
    build:
      context: .
      dockerfile: Dockerfile.baileys
    restart: unless-stopped
    depends_on:
      - backend
    ports:
      - "3300:3300"

  n8n:
    image: n8nio/n8n:latest
    container_name: prosaas-n8n
    restart: unless-stopped
    ports:
      - "5678:5678"
    environment:
      N8N_HOST: 0.0.0.0
      N8N_PORT: 5678
      N8N_PROTOCOL: https
      N8N_PATH: /n8n
      N8N_PUBLIC_URL: https://prosaas.pro/n8n
      N8N_ENDPOINT_WEBHOOK: /n8n/webhook
      N8N_ENDPOINT_WEBHOOK_TEST: /n8n/webhook-test
    volumes:
      - n8n_data:/home/node/.n8n

  db:
    image: postgres:14
    container_name: prosaas-db
    restart: unless-stopped
    environment:
      POSTGRES_PASSWORD: "${POSTGRES_PASSWORD}"
      POSTGRES_USER: "${POSTGRES_USER}"
      POSTGRES_DB: "${POSTGRES_DB}"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

volumes:
  postgres_data:
  n8n_data:
