flask
gunicorn
eventlet==0.36.1
greenlet>=3.0,<3.3
simple-websocket
flask-cors
flask-sqlalchemy
flask-login
flask-session
flask-mail
flask-limiter
flask-bcrypt
psycopg2-binary
requests
openai
twilio
qrcode
gtts
pillow
pydub
numpy
python-dotenv
schedule
bcrypt
email-validator
